:ruby
  option = {}
  values.each do |key, value|
    case value
    when String
      option["data-#{key}"] = value
    else
      option["data-#{key}"] = value.to_json
    end
  end
#data_attr{option}
